.post {
    overflow: hidden;
}
.post header {
    display: flex;
    flex-direction: row;
}

.post footer {
    display: flex;
    flex-direction: row;
}

.profileThumbnail {
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

.profileName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}

.post h3 {
    display: flex;
    margin: 0;
}

.inner p {
    margin-bottom: 10px;
    font-size: 20px;
    max-height: 280px;
    overflow: auto;
}

.inner hr {
    margin: 20px 0;
    border-style: solid;
    opacity: 0.1;
}